---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
---
<BaseLayout pageTitle={frontmatter.title}>
<p>Written by: {frontmatter.author} on {frontmatter.pubDate.toLocaleDateString()}</p>
<img style="border-radius: 25px;" src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
<slot />
<div class="tags">
    {frontmatter.tags.map((tag: string) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
  
</BaseLayout>